.trash-box i {
  margin-left: 10px;
}
.trash-box {
  background-color: #ca6754;
  z-index: 0;
  height: auto;
  column-span: all;
  max-height: 100px;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-style: dashed;
  font-size: 2vw;
}
.trash-box-container {
  z-index: 2;
  column-span: all;
  /* height: 6%; */
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #ca6754; */
  padding: 10px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
