@import "./bootstrap_theme_builder/bootstrap.min.css";
@import 'deletion-box.css';
@import 'table.css';
@import 'sidebar.css';
@import 'week-navigation-btn.css';
@import 'settings.css';
@import 'font.css';
@import 'img.css';

.row {
  --bs-gutter-x : 0;
}



body {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
*{
  font-family: 'K Cyrillic', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "Billionary";
  src: local("Billionary"), url(../misc/fonts/Billionary-Regular.otf) format("truetype");
  unicode-range: U+0041-005A,U+0061-007A;
}


@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Thin"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Thin.otf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Thin Oblique"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Thin\ Oblique.otf) format("truetype");
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Light"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Light.otf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Light Oblique"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Light\ Oblique.otf) format("truetype");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Bold"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Bold.otf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Bold Oblique"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Bold\ Oblique.otf) format("truetype");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Heavy"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Heavy.otf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Heavy Oblique"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Heavy\ Oblique.otf) format("truetype");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Book"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Book.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "K Cyrillic";
  src: local("K Cyrillic Book Oblique"), url(../misc/fonts/Kamerik\ 105\ Cyrillic\ Book\ Oblique.otf) format("truetype");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../misc/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

p::first-letter {
  text-transform:capitalize;
}