/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
.settings-area td {
  border: none !important;
}
.switch-title,
.switch-title-left {
  display: inline;
  font-size: 0.8rem;
  font-weight: 600;
}
.settings-icon {
  color: #7c7a7d;
  text-align: center;
  font-size: 1.5rem;
}
.settings-icon i {
  cursor: pointer;
}
.settings-icon i:hover {
  opacity: 0.7;
}

/* settings page styles */
.settings-body {
  background-color: #fbeacc;
  overflow-y: scroll;
}

#my-settings {
  padding: 20px 40px 100px 40px;
}

.title {
  margin-bottom: 20px;
}
.back-btn {
  font-family: "Billionary", sans-serif;
  background-color: #e31cf5 !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  position: fixed;
  bottom: 0;
  left: 0;
}
.back-btn i {
  margin-right: 10px;
}
.desc {
  margin-top: 20px;
  font-family: "Billionary", sans-serif;
  font-size: 0.8rem;
}

/* MEDIA BREAKPOINTS */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .switch {
    width: 100px !important;
    height: 50px !important;
  }
  .slider.round {
    border-radius: 54px;
  }
  .slider:before {
    height: 35px;
    width: 35px;
    left: 6px;
    bottom: 6px;
  }
  input:checked + .slider:before {
    transform: translateX(45px);
  }
  .switch-title,
  .switch-title-left {
    font-size: 1.5rem;
    text-align: left;
    margin-left: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8vh;
    width: 220px;
  }
  .sidemenu table td,
  .menuOnLeft table td {
    font-size: 3rem;
  }

  .settings-icon i {
    margin-right: 10px;
  }

  /*settings page*/
  .settings-body {
    padding-top: 100px;
  }
  .title {
    font-size: 3.5rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .directory-form {
    padding: 0;
  }
  .back-btn {
    height: 4%;
    width: 8%;
    font-size: 1.5rem !important;
  }
}
