/*Side bar*/

.sidebar {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
  height: 100%;
  width: 2vw; /*Larger sidebar changes: Sidebar toggle is slightly wider - Kyle*/
}

.sidebar::after{
    height: 100%;
}

.sidemenu {
  position: absolute;
  right: -29vw; /*Larger sidebar changes: Offset more to the left for new size - Kyle*/
  /*right: -21vw;*/ /*Old size*/
  background-color: #fbd988;
  width: 29.5vw !important;
  height: 100%;
  transition: 0.4s;
  /*overflow: scroll !important;*/
}

.sidemenu table,
.menuOnLeft table{
  position: absolute;
  display: inline;
  height: 100%;
  overflow: scroll !important;

}

.sidemenu table tbody,
.menuOnLeft table tbody{
  /*height: 100vh;*/
}

.sidemenu table td,
.menuOnLeft table td{
  padding: 0;
  margin: 0;
  height: 8vh; /*WIP sidebar table changes*/
}

.sidemenu table td img,
.menuOnLeft table td img{
  padding: 0;
  width: 6.5vw;
  object-fit: scale-down;
  height: 8.9vh;
}

#transportation-imgs-row img{
  background-color: white;
}

.copy{
  width: 4.9vw !important;
  /* background-color: white;
  border-radius: 10px; */
}
#people-imgs-row, #popular-imgs-row, .settings-area {
    display: grid;
    grid-template-columns: repeat(4, 7.5vh);
    grid-gap: 26px;
    text-align: center;
    margin: 30px 10px 10px 25px;
}

.settings-area td:nth-child(2){
  grid-column: 2 / 4;
}
#transportation-imgs-row, #activities-imgs-row {
    display: grid;
    /*grid-template-rows: 8vh 8vh;*/
    /*grid-auto-flow: column;*/
    /*grid-template-columns: 5vw 5vw 5vw 5vw;*/
    grid-template-columns: repeat(4, 7.5vh);
    grid-gap: 26px;
    text-align: center;
    margin: 30px 10px 10px 25px;
}

.settings-area {
    margin-top: 2vh;
    grid-template-rows: 2vh;
}

.img-row-title{
    text-align: left;
}

/* left toggle settings */
.menuOnLeft {
  position: absolute;
  left: 0px; /*Larger sidebar changes: Offset more to the left for new size - Kyle*/
  /*left: -20.5vw;*/ /*Old size*/
  direction: rtl;
  background-color: #fbd988;
  width: 30.5vw;
  height: 65vh;
  transition: 0.4s;
  overflow: scroll;
  height: 100vh;
}
.barOnLeft {
  padding: 0;
  margin: 0;
  float: right;
  display: inline;
  height: 100vh;
  width: 2vw; /*Larger sidebar changes: Sidebar toggle is slightly wider - Kyle*/
}

@media only screen  and (min-width : 1824px) {
  .img-row-title{
    font-size: 2.5rem;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1.5vw;
  }

  .sidemenu {
    padding-right: 15px;
    width: 30.5vw !important;
  }

    #people-imgs-row, #popular-imgs-row, .settings-area {
        grid-gap: 2vh 3vh;
        margin: 30px 10px 10px 50px;
    }

    #transportation-imgs-row, #activities-imgs-row{
        grid-gap: 2vh 3vh;
        margin: 30px 10px 10px 50px;
    }

    #transportation-imgs-row {
        /*grid-template-rows: 6vh 6vh;*/
        grid-template-columns: repeat(4, 7.5vh);
    }

    #activities-imgs-row {
        /*grid-auto-rows: 6vh;*/
        grid-template-columns: repeat(4, 7.5vh);
    }

    .settings-area{
        margin-top: 1vh;
        grid-template-rows: 3vh;
        grid-template-columns: 3vw 3vw 3vw 22vw; 
    }
}

/* .sidebar:active {
   border: 2px solid red; 
} */

/*.sidemenu:hover {
	right: 0px;
}*/