/*Side bar*/

.sidebar {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
  height: 100%;
  width: 2vw; /*Larger sidebar changes: Sidebar toggle is slightly wider - Kyle*/
}

.sidebar::after {
  height: 100%;
}

.sidemenu {
  position: absolute;
  right: -30vw; /*Larger sidebar changes: Offset more to the left for new size - Kyle*/
  /*right: -21vw;*/ /*Old size*/
  background-color: #fbd988;
  width: 29.5vw !important;
  height: 100%;
  transition: 0.4s;
  /*overflow: scroll !important;*/
  z-index: 1; /*Place in front of cloned image elemnts*/
}
.menuOnLeft table::-webkit-scrollbar,
.sidemenu table::-webkit-scrollbar {
  display: none !important;
}

.sidemenu table,
.menuOnLeft table {
  position: absolute;
  display: inline;
  height: 100%;
  width: 30.1vw;
  overflow: scroll !important;
  overflow-x: hidden !important;
}

.sidemenu table td,
.menuOnLeft table td {
  padding: 0;
  margin: 0;
  height: 8vh; /*WIP sidebar table changes*/
}

.copy {
  width: 4.9vw !important;
}

.activities-imgs-row-copy,
.popular-imgs-row-copy,
[class*="-imgs-row-copy"]:not(.transportation-imgs-row-copy, .people-imgs-row-copy, .popular-imgs-row-copy) {
  width: 6.12vw !important;
}

#people-imgs-row,
#popular-imgs-row,
.settings-area {
  display: grid;
  grid-template-columns: repeat(4, 7.5vh);
  grid-gap: 26px;
  text-align: center;
  margin: 30px 10px 10px 25px;
}

.settings-area td:nth-child(2) {
  grid-column: 2 / 4;
}
#transportation-imgs-row,
#activities-imgs-row {
  display: grid;
  grid-template-columns: repeat(4, 7.5vh);
  grid-gap: 26px;
  text-align: center;
  margin: 30px 10px 10px 25px;
}

.settings-area {
  margin-top: 2vh;
  grid-template-rows: 2vh;
}

.img-row-title {
  text-align: left;
}

/* left toggle settings */
.menuOnLeft {
  position: absolute;
  left: 0px;
  background-color: #fbd988;
  width: 31.3vw;
  transition: 0.4s;
  height: 100vh;
  z-index: 1;
}
.barOnLeft {
  padding: 0;
  margin: 0;
  float: right;
  display: inline;
  height: 100vh;
  width: 2vw;
}

@media only screen and (min-width: 1824px) {
  .settings-area td:nth-child(2) {
    margin-left: 80px;
  }
  .img-row-title {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1.5vw;
  }

  .sidemenu {
    padding-right: 15px;
    width: 31.3vw !important;
  }

  #people-imgs-row,
  #popular-imgs-row,
  .settings-area {
    grid-gap: 2vh 3.5vh;
    margin: 30px 20px;
  }

  #transportation-imgs-row,
  #activities-imgs-row {
    grid-gap: 2vh 3.28vh;
    margin: 20px 20px;
  }

  #transportation-imgs-row {
    /*grid-template-rows: 6vh 6vh;*/
    grid-template-columns: repeat(4, 7.5vh);
  }

  #activities-imgs-row {
    /*grid-auto-rows: 6vh;*/
    grid-template-columns: repeat(4, 7.5vh);
  }

  #people-imgs-row {
    margin-left: 33.4px;
  }

  .menuOnLeft table #people-imgs-row {
    margin-left: 20px;
    margin-right: 33.4px;
  }

  .settings-area {
    margin-top: 1vh;
    grid-template-rows: 3vh;
    grid-template-columns: 3vw 3vw 3vw 22vw;
  }
}

.symbol {
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1;
}

.symbol img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  aspect-ratio: 1.25;
}

.symbol .symbol-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.symbol.symbol-placement {
  z-index: 0;
  position: absolute;
  width: 4.9vw;
  height: auto;
}

.transportation-symbol img {
  aspect-ratio: 1;
  padding: 15px;
}
