#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-weight: bold;
    font-family: 'Billionary';
    z-index: 9999;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}