.p1 {
  display: inline;
  position: absolute;
  width: 100%;
}
.main-table {
  display: inline;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  height: 100vh;
}
.main-table tr th {
  padding: none;
  margin: 0;
  text-align: center;
  max-width: 15vw;
  width: 17vw;
}

.main-table tbody {
  height: 100vh;
}

.main-table tr:not(.deletion-box){
  height: 30%;
}

.main-table tr.deletion-box{
  height: 10%;
}

.main-table tbody {
  display: table;
  width: 100%;
  padding: 0;
}
.border-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.monday-col,
.wednesday-col,
.friday-col,
.sunday-col {
  background-color: #fbebcc;
}

.tuesday-col,
.thursday-col,
.saturday-col {
  background-color: #fbf7ef;
}

.main-table th img {
  width: 7.344vw;
}

.time-of-day img {
  position: relative;
  width: 1vw;
}

.this-week {
  color: #d191da;
}
.next-week{
  color: #38b9f6;
  font-size: 2vw; /*WIP column changes: smaller "Next Week" title text*/
}
.day-segment {
  object-fit: contain;
}
