/* #switch_week_button {
  background-color: #2cb8f0;
  color: white;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  min-width: 300px;
} */

#switch_week_button:hover {
  color: white;
}

@media only screen and (min-width: 2160px) {
  .this-week-link,
  .next-week-link {
    height: 2.3%;
  }
}

@media only screen and (min-width: 2535px) {
  .this-week-link,
  .next-week-link {
    font-size: 2.5rem;
    padding: 25px 15px 0px 15px;
    width: 12%;
    height: 2%; /*WIP week button changes: this week and next week buttons are taller*/
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 3500px) {
  .this-week-link,
  .next-week-link {
    font-size: 3.5rem;
    padding: 25px 15px 0px 15px;
    width: 12%;
    height: 3%; /*WIP week button changes: this week and next week buttons are taller*/
  }
}
