.deletion-box:hover{
    cursor: grab;
    transition: all .4s;
}
.trash-box i{
    margin-left: 10px;
}
.trash-box{
    background-color: red;
    z-index: 3;
    column-span: all;
    height: 100px;
    width: 100vw;
    text-align: center;
    display: flex;
  	justify-content: center;
  	align-items: center;
    border: 3px solid black;
    border-style: dashed;
    transition: all .4s;
}
.trash-box-container{
    column-span: all;
    height: 100px;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    display: flex;
  	justify-content: center;
  	align-items: center;
    background: red;
    padding: 10px;
    transition: all .4s;
}
.trash-box-container:hover{
    opacity: 0.7;
    background-color: white;
    transition: all .4s;
}
.trash-box:hover{
    color: red;
    background: white;
    border: 3px solid red;
    border-style: dashed;
    transition: all .4s;
}