.next-week-link {
  font-size: 2.25vw;
  color: white;
  background-color: #2cb8f0;
  text-decoration: none;
  font-family: sans-serif;
  top: 96vh;
  position: absolute;
}

.this-week-link {
  font-size: 2.25vw;
  color: white;
  background-color: #e844f4;
  text-decoration: none;
  font-family: sans-serif;
  top: 96vh;
  position: absolute;
  font-weight: lighter;
}
