.this-week-link, .next-week-link{
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  padding: 15px;
  width: 15%;
  height: 1%;
  text-align: center;
  font-family: 'Billionary'; 
}

.next-week-link {
  background-color: #2cb8f0;
  position: fixed;
  right: 0;
  bottom: 0;
}

.this-week-link{
  background-color: #e844f4;
  position: fixed;
  left: 0;
  bottom: 0;
}

.this-week-link i{
  margin-right: 50px;
}

.next-week-link i{
  margin-left: 50px;
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .this-week-link, .next-week-link {
    font-size: 4rem;
    width: 12%;
    height: 2%;
  }
}
